autodocsumm==0.2.*
geopandas==0.9.*
nbconvert==6.0.*
nbsphinx==0.8.*
seaborn==0.11.*
sphinx==3.5.*
sphinx-automodapi==0.13.*
sphinx-bootstrap-theme==0.7.1
spectral==0.22.*
tqdm==4.60.*
findiff==0.8.*
